
header{
    background-color: #659ced;    
}
.follow{
    color:#4e80d7;
}
h1{
    color: rgb(175, 74, 1);
}
main{
    background-color: rgb(50, 51, 72);
}
main p{
    color: rgb(205, 160, 10);
    font-weight: bolder;
}
button{
    background-color:#fff;
    color: #000;
    font-weight: 400;
    border-radius: 5px;
}
h3{
    color: #fff;
}
a{
    color: #0a0db5;
}
#login{
    background-color: #0c3b81;
    color: #fff;
}
#signup{
    background-color: #0c3b81;
    color: #fff;
}